@model List<AboutUsDataModel>

@{
    ViewData["Title"] = "About";
}


<div class="container my-3 about-us-container">

    @if(Model == null)
    {
        <h2 class="text-center mb-4">No Records Found!!!</h2>
    }
    else
    {

        @foreach (var item in Model)
        {
            if (item.Position == "left")
            {
                <div class="content-container row g-0">
                    <div class="col-md-6">
                        <div class="image-container slide-in-left">
                            <img src="@Url.Content(item.Image)" alt="@item.Name" class="img-fluid w-90">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="description slide-in-right">
                            <p class="name">@item.Name</p>
                            <p class="position">@item.JobTitle</p>
                            <p>@item.Description</p>
                        </div>
                    </div>
                </div>
                <hr />
            }
            else if (item.Position == "right")
            {
                <div class="content-container row g-0">
                    <div class="col-md-6">
                        <div class="description slide-in-right">
                            <p class="name">@item.Name</p>
                            <p class="position">@item.JobTitle</p>
                            <p>@item.Description</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="image-container slide-in-left">
                            <img src="@Url.Content(item.Image)" alt="@item.Name" class="img-fluid w-90">
                        </div>
                    </div>
                </div>
                <hr />
            }
        }
    }
</div>